# Carpetas autogeneradas por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Archivos de memoria y caché
MemoryCaptures/
[Aa]ssets/AssetStoreTools*

# Archivos generados por editores de código (Visual Studio / Rider)
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Basura del sistema operativo
.DS_Store
Thumbs.db